:root {
    font-size: 16px;
    --background-clr: white;
    --primary-clr: #64B5F6;
    --font-clr: #3D3D3D;
    --font-alt-clr: #fff;
    --font-sec-clr: #888888;
    --reading-clr: #AED581;
    --card-bg: #ECECEC;
    --filter-value: 0;
    --danger-clr: #F6647E;
}

.dark-mode {
    --font-clr: #ffffff;
    --background-clr: #18212E;
    --card-bg: #222F3C;
    --filter-value: 1;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    /* For debugging */
    /* outline: 1px solid red; */
}

body {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    padding: 16px 48px;
    color: var(--font-clr);
    background: var(--background-clr);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.app-title {
    font-family: 'Playfair Display';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3rem;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 40px;
}

nav .search-input {
    min-width: 0;
    flex: 1;
    border: none;
    background: var(--card-bg);
    font-weight: 300;
    padding: 16px;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
    color: var(--font-clr);
}

nav button {
    background: none;
    cursor: pointer;
    border: none;
    color: var(--font-clr);
}


nav .app-title {
    font-size: minmax(100px, 3rem);
}

nav .add-btn {
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 8px;
    padding: 12px;
    color: var(--font-alt-clr);
    background: var(--primary-clr);
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
}


.filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 80px;
}

select {
    font-size: 1rem;
    padding: 8px;
    appearance: none;
    border: none;
    color: var(--font-clr);
    background: none;
    outline: none;
    min-width: 20px;
}

.status-select-wrapper,
.genre-select-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.status-select-wrapper::before {
    content: url("../assets/icons/info.svg");
    filter: invert(var(--filter-value));
}

.genre-select-wrapper::before {
    content: url("../assets/icons/masks.svg");
    filter: invert(var(--filter-value));
}

.status-select-wrapper::after,
.genre-select-wrapper::after {
    content: url("../assets/icons/down_arrow.svg");
    filter: invert(var(--filter-value));
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 32px;
}

.book {
    width: 100%;
    height: 300px;
    padding: 16px;
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 24px;
    grid-template-rows: repeat(5, auto);
    align-items: center;
    border-radius: 8px;
    color: var(--font-sec-clr);
}

.book-title {
    font-size: 2rem;
    color: var(--font-clr);
}

.book-cover-wrapper {
    height: 100%;
    background-image: url("../assets/images/default-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    border-radius: 8px;
}

.book-author {
    padding-bottom: 8px;
}

.book-genre {
    font-weight: 400;
}

.rating {
    display: flex;
    gap: 20px;
}

.rating * {
    aspect-ratio: 1 / 1;
    transform: scale(1.2);
}

.book-review {
    font-size: .9rem;
    font-weight: 300;
}

.status-button {
    background: var(--primary-clr);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
}

.invert {
    filter: invert(1);
}

.filter-star {
    filter: brightness(0) saturate(100%) invert(56%) sepia(78%) saturate(3135%) hue-rotate(167deg) brightness(102%) contrast(105%);
}

.icon {
    filter: invert(var(--filter-value));
}

@media(max-width: 800px) {
    body {
        padding: 8px;
    }

    nav {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 8px;
    }

    nav .search-input {
        padding: 8px;
        line-height: 1.5;
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    nav .add-btn {
        padding: 8px;
        line-height: 1.5;
        grid-column: 1 / -1;
    }

    .filter-wrapper {
        justify-content: center;
        gap: 20px;
    }

}